dryrun: true
type: mysql
source:
  host: sourcehost
  port: sourceport
  username: sourceuser
  password: sourcepass
  database: 
    - sourcedb1
    - sourcedb2
    - sourcedb3
    - sourcedb4

destination:
  host: desthost
  port: destport
  username: destuser
  password: destpass
  database:
    - destdb1
    - destdb2
    - destdb3
    - destdb4