type: mysql
source:
  host: sourcehost
  port: sourceport
  username: sourceuser
  password: sourcepass
  database: sourcedb
destination:
  host: desthost
  port: destport
  username: destuser
  password: destpass
  database: destdb